//Container devices

$container-xl:1440px;
$containrer-l:1140px;
$container-m:960px;
$container-s:540px;

//Mixins

@mixin responsive($device){
  @if $device == xl {
    @media screen and (min-width:$container-xl) {
      @content;
    }
  }

   @else if $device == l {
    @media screen and (max-width:$container-xl) and (min-width:$container-l) {
       @content;
    }
  }


   @else if $device ==  m {
    @media screen and (max-width:$container-l) and (min-width:$container-m) {
       @content;
    }
  }

   @else if $device ==  s {
    @media screen and (max-width:$container-m) and (min-width:$container-s) {
       @content;
    }
  }

  @else if $device ==  xs {
    @media screen and (max-width:$container-s) {
       @content;
    }
  }
}